

.be_button {
    margin-right: 10px;
    color:#fff;
    text-align: right;
    display:inline-block;
    cursor:pointer;
}
.linkliste_red, .linkliste_orange, .linkliste_gray {
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
    padding:1px 3px 2px 3px;
    font-size: 10px;
    line-height: 1;
}
.linkliste_red {
    background-color:#d90000;
    color:#fff;
}

.linkliste_orange {
    background-color:#ff9900;
    color:#fff;
}
.linkliste_gray {
    background-color:#333;
    color:#fff;
}
