/* adjust styling of favicon image */
.linkliste_item .favicon-img {
    margin-right:6px;
    display: inline-block;
}
.ie7 .linkliste_item .favicon-img, .ie6 .linkliste_item .favicon-img {
    display: inline;
    zoom: 1;
}

/* adjust styling */
#linklist_extended .linkliste_wrapper
{
    padding:0 0 24px 0;
}
#linklist_extended .linkliste_categorie
{
    margin:0 0 6px 0;
}
#linklist_extended .linkliste_item
{
    margin:0 0 2px 0;
}
#linklist_extended h3 {
    margin:0;
}
#linklist_extended a {
    /* font-size: 16px; */
}
#linklist_extended a.image_link {
    text-decoration: none;
}
#linklist_extended img {
    vertical-align: middle;
}
#linklist_extended .linkliste_text {
    /* margin-left:24px; */
}
#linklist_extended .linkliste_categorietext p, #linklist_extended .linkliste_text p {
    margin:0;
}