#linklist_extended.footer {
    text-align: center;
    margin: 12px 0;
}

#linklist_extended.footer .inline-block {
    display: inline-block;
    vertical-align: top;
}
.ie7 #linklist_extended.footer .inline-block {
    display: inline;
    zoom: 1;
}

#linklist_extended.footer .linkliste_wrapper {
    padding: 0 20px 0 0;
}
#linklist_extended.footer .linkliste_item, #linklist_extended.footer .linkliste_categorie, #linklist_extended.footer h3, #linklist_extended.footer a
{
    margin:0;
    line-height: 1.4;

    font-size: 13px;
    text-align: left;
    color:#000;
    text-decoration: none;
}

